body {
  background: #eee;
  font-family: sans-serif;
}

.card,
.title,
.content,
.button-container {
  background: #e3f4ff;
  margin: 8px;
  padding: 3px;
}

.card {
  display: inline-block;
  width: 500px;
  background: #fff;
  margin: 16px 200px;
}

.button-container {
  text-align: center;
  padding: 8px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}